<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-md="50" layout="column">
        <md-card>
            <md-card-content>
                <div ng-controller="AboutController">
                    <div id="div1">
                        <hc-activity-gauge title="Activity" data="solidGaugeData">Placeholder for gauge chart</hc-activity-gauge>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    <!-- </div>
    <div flex-xs flex-gt-xs="50" layout="column"> -->
        <md-card>
            <md-card-content>
                <div id="div2">
                    <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
<!-- <div ng-repeat="post in posts | orderBy: 'id':true ">
	<h4><a href="/post/{{ post.id }}">{{ post.first_name }}</a></h4>
	<p>{{ post.last_name}}<p>
</div>

<div ng-controller="LogoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div> -->
