<layout-cards>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Requests to extend Check out</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-divider></md-divider>
            <!-- <md-subheader class="md-no-sticky">Secondary Menus</md-subheader> -->
            <md-list-item>
                <p>Customer Larry requests change from <b>09/06/2016 2:15 P.M </b> to <b>10/06/2016 8:15 A.M </b></p>
                <md-menu class="md-secondary">
                    <md-button class="md-icon-button">
                        <md-icon class="glyphicon glyphicon-option-vertical"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button class="md-primary md-hue-2">
                                Approve
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-primary md-hue-2">
                                Disapprove
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <p>Customer Harry Potter requests change from <b>09/07/2016 3:00 P.M </b> to <b>10/07/2016 8:00 A.M </b></p>
                <md-menu class="md-secondary">
                    <md-button class="md-icon-button">
                        <md-icon class="glyphicon glyphicon-option-vertical"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button>
                                Approve
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>
                                Disapprove
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-list-item>
        </md-card-content>
    </md-card>
</layout-cards>
