<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Rooms Occupied</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-divider></md-divider>
        <md-card style="margin:0px">
            <md-input-container style="margin:15px;">
                <label>Filter by search</label>
                <input type="text" ng-model="filterName">
            </md-input-container>

            <div ng-hide="true">
                {{(filteredItems = (rooms.occupancy.objects | filter: filterName))}}
            </div>
        </md-card>
        <mdt-table 
                paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" sortable-columns=true>
            <mdt-header-row>
                <!-- defining column descriptions, align content to the left -->
                <mdt-column column-definition="Room number" sortable-rows-default>
                    Room number
                </mdt-column>
                <!-- inline text editing (EDITABLE-FIELDS FEATURE DOES NOT EXIST YET) -->
                <mdt-column editable-field="textInput">
                    Capacity
                </mdt-column>
                <!-- in case of sortable columns, we can set the defaultly sortable column -->
                <mdt-column>
                    Status
                </mdt-column>
                <mdt-column>Customer Name</mdt-column>
                <mdt-column>Check-in Time</mdt-column>
                <mdt-column>Duration of stay (days)</mdt-column>
            </mdt-header-row>
            <md-card ng-show="rooms.occupancy.num_results == 0">
                <md-card-title-text>
                <span class="md-headline">Card with image</span>
                
                </md-card-title-text>
            </md-card>

            <mdt-row ng-hide="rooms.occupancy.num_results == 0" ng-repeat="each in rooms.occupancy.objects">
                <mdt-cell>{{each.room.room_number}}</mdt-cell>
                <mdt-cell>159</mdt-cell>
                <mdt-cell>6</mdt-cell>
                <mdt-cell>24</mdt-cell>
                <mdt-cell>4</mdt-cell>
                <mdt-cell>87</mdt-cell>
            </mdt-row>
        </mdt-table>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Rooms Available</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <mdt-table sortable-columns>
            <mdt-row>
                <mdt-cell>1</mdt-cell>
                <mdt-cell>2</mdt-cell>
                <mdt-cell>3</mdt-cell>
                <mdt-cell>4</mdt-cell>
                <mdt-cell>5</mdt-cell>
            </mdt-row>
            <mdt-row>
                <mdt-cell>6</mdt-cell>
                <mdt-cell>7</mdt-cell>
                <mdt-cell>8</mdt-cell>
                <mdt-cell>9</mdt-cell>
                <mdt-cell>11</mdt-cell>
            </mdt-row>
            <mdt-row>               
                <mdt-cell>12</mdt-cell>
                <mdt-cell>13</mdt-cell>
                <mdt-cell>14</mdt-cell>
                <mdt-cell></mdt-cell>
            </mdt-row>
        </mdt-table>
    </md-card-content>
</md-card>
