<!DOCTYPE html>
<html>

<head>
    <title>Hotel-IOT</title>
    <link rel="stylesheet" href="/static/lib/jquery/dist/jquery.min.js">
    <link rel="stylesheet" href="/static/lib/angular/angular-route.js">
    <link rel="stylesheet" href="/static/lib/angular-routr/angular.js">
    <link rel="stylesheet" href="/static/lib/angular-ui-router/release/angular-ui-router.min.js">
    <link rel="stylesheet" href="/static/lib/underscore/underscore-min.js">
    <link rel="stylesheet" href="/static/lib/angular-animate/angular-animate.js">
    <link rel="stylesheet" href="/static/lib/angular-animate/angular-animate.js'">
    <link rel="stylesheet" href="angular-aria/angular-aria.min.js">
    <link rel="stylesheet" href="/static/lib/angular-material/angular-material.min.js">
    <link rel="stylesheet" href="/static/lib/angular-messages/angular-messages.min.js">
    <link rel="stylesheet" href="/static/lib/angular-material-icons/angular-material-icons.js">
    <link rel="stylesheet" href="/static/lib/angular-material-icons/angular-material-icons.min.js">
    <link rel="stylesheet" href="/static/lib/mdDataTable/dist/md-data-table.js">
    <link rel="stylesheet" href="/static/lib/mdDataTable/dist/md-data-table-templates.js">        
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/js/bootstrap.min.js">


    <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/lib/angular/angular-resource.js"></script>
    <script src="/static/lib/mdDataTable/dist/md-data-table-style.css"></script>
    <script src="/static/lib/angular-material-icons/angular-material-icons.css"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>

<body data-ng-app="AngularFlask" ng-cloak>
    <div id="wrapper" flex>
        <div ng-controller="sideNavController as ctrl" layout="column" ng-cloak>
            
                <md-toolbar layout="row">
                  <div class="md-toolbar-tools">
                    <md-button  aria-label="Menu" ng-click= openLeftMenu()>
                        <ng-md-icon icon="menu" style="fill: #FFFF">
                     </ng-md-icon>
                    </md-button>

                    <span flex ></span>
                    <h2 flex><b>StayIn</b></h2>
                  </div>
                </md-toolbar>
            
            <div layout="row" flex>
                <div class="sidenav" layout-padding ng-include="'/partials/sideBarView.html'"></div>
                <md-content id="content" flex>
                    <main id="view-container">
                        <!-- <div ng-view></div> -->
                        <ui-view></ui-view>
                    </main>
                </md-content>
            </div>
        </div>
       
    </div>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="//localhost:7777/livereload.js"></script>
</body>

</html>